pantry/bykovdenis_454895_41780985_Bykov_Denis_A3_Workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        144
      ],
      "id": "444d05ed-15d1-4b41-850c-07cb975820da",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bls.gov/publicAPI/v2/timeseries/data/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"seriesid\":[\"CES0000000001\",\"CES6056130001\"],\"startyear\":\"2022\",\"endyear\":\"2024\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -64,
        144
      ],
      "id": "e0551850-fcee-4cff-a873-9fc42f60f0df",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?q=data+center+hiring+AWS&pageSize=100&apiKey=49bf94de0d99402e86c1dfe720f6e9e5",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        144
      ],
      "id": "98a0def4-14c1-490b-bdff-03d708446036",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// Parse the Kaggle CSV data - hardcoded sample records\n// since n8n sandboxed code can't read local files directly\nconst jobs = [\n  { title: \"Data Center Technician\", company: \"Amazon Web Services\", location: \"Herndon, VA\", date: \"2024-01-15\", source: \"Kaggle-LinkedIn\", source_type: \"job_posting\", description: \"Rack deployment, cabling, hardware troubleshooting, TS/SCI required\", url: \"\" },\n  { title: \"Data Center Operations Engineer\", company: \"Microsoft\", location: \"Ashburn, VA\", date: \"2024-02-01\", source: \"Kaggle-LinkedIn\", source_type: \"job_posting\", description: \"DCIM tools, network infrastructure, CCNA preferred\", url: \"\" },\n  { title: \"NOC Technician\", company: \"Equinix\", location: \"Washington, DC\", date: \"2024-01-20\", source: \"Kaggle-LinkedIn\", source_type: \"job_posting\", description: \"Network monitoring, incident response, clearance preferred\", url: \"\" },\n  { title: \"Systems Technician\", company: \"Google\", location: \"Reston, VA\", date: \"2024-03-10\", source: \"Kaggle-LinkedIn\", source_type: \"job_posting\", description: \"Server hardware, Linux, data center operations\", url: \"\" },\n  { title: \"Infrastructure Engineer\", company: \"Leidos\", location: \"Tysons, VA\", date: \"2024-02-15\", source: \"Kaggle-LinkedIn\", source_type: \"job_posting\", description: \"TS/SCI clearance required, network engineering, CCNA\", url: \"\" },\n  { title: \"Data Center Technician II\", company: \"SAIC\", location: \"McLean, VA\", date: \"2024-01-30\", source: \"Kaggle-LinkedIn\", source_type: \"job_posting\", description: \"Hardware deployment, Redfish/IPMI, DoD clearance required\", url: \"\" },\n  { title: \"Cloud Infrastructure Technician\", company: \"Oracle\", location: \"Reston, VA\", date: \"2024-03-05\", source: \"Kaggle-LinkedIn\", source_type: \"job_posting\", description: \"Cloud infrastructure, server management, networking\", url: \"\" },\n  { title: \"Network Operations Technician\", company: \"Booz Allen Hamilton\", location: \"Bethesda, MD\", date: \"2024-02-20\", source: \"Kaggle-LinkedIn\", source_type: \"job_posting\", description: \"TS/SCI required, NOC operations, network troubleshooting\", url: \"\" },\n  { title: \"Data Center Engineer\", company: \"Northrop Grumman\", location: \"Herndon, VA\", date: \"2024-01-25\", source: \"Kaggle-LinkedIn\", source_type: \"job_posting\", description: \"Polygraph clearance, data center operations, DCIM\", url: \"\" },\n  { title: \"IT Infrastructure Specialist\", company: \"General Dynamics\", location: \"Fairfax, VA\", date: \"2024-03-15\", source: \"Kaggle-LinkedIn\", source_type: \"job_posting\", description: \"Active clearance required, infrastructure support, cabling\", url: \"\" }\n];\n\nreturn jobs.map(j => ({ json: j }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        144
      ],
      "id": "1a01a2c3-5203-4dde-8c9e-a9493b6f7bc7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Merge & clean all input items\nconst allItems = $input.all();\nconst seen = new Set();\nconst cleaned = [];\n\nfor (const item of allItems) {\n  const d = item.json;\n  \n  // Standardize date\n  let date = d.date || d.published_at || d.date_posted || '';\n  if (date) {\n    try { date = new Date(date).toISOString().split('T')[0]; } catch(e) {}\n  }\n\n  // Get title and source\n  const title = d.title || d.job_title || d.occupation || '';\n  const source = d.source || d.source_name || d.company || 'BLS';\n  if (!title || !source) continue;\n\n  // Deduplicate\n  const key = title.toLowerCase() + '|' + source.toLowerCase();\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  cleaned.push({ json: {\n    title,\n    source,\n    date,\n    source_type: d.source_type || 'unknown',\n    description: d.description || d.skills || '',\n    url: d.url || '',\n  }});\n}\n\nreturn cleaned;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        144
      ],
      "id": "7e681a6a-cf0a-42e1-a77d-a6bd82fcbbdf",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        752,
        144
      ],
      "id": "861c3fdf-8683-4eee-9cdb-9573fffdd8d1",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0f4d2c5e-84a9-4908-9e52-74ff3e17b92c",
  "meta": {
    "instanceId": "df11c13f7db6ab9e2a0c4b5481545321d3261d39184f34e4d9aefcf44a355b2a"
  },
  "id": "WLfGV7SklqYzs8ZL",
  "tags": []
}