pantry/krishnamoorthyraksha_333078_41797107_KrishnaMoorthy_Raksha_A3_Workflow-1.json
{
  "name": "Madison_Persona_Pipeline_A3",
  "nodes": [
    {
      "parameters": {},
      "id": "ff0fa7bc-fd60-4e20-95b4-b21bbc9f6289",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://data.cdc.gov/resource/hksd-2xuw.json?$limit=100",
        "options": {}
      },
      "id": "909f0c09-305a-4bd7-9a39-d19adf1ed23f",
      "name": "HTTP Request: CDC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "if (!$input.first() || !$input.all().length) {\n  console.log('Source unavailable — returning empty records');\n  return [{ json: { cdc_records: [], cdc_count: 0, error: 'Source unavailable' } }];\n}\nconst FASHION_SIGNALS = {\n  'post-mastectomy': 'post-surgical bras, front-closure tops, prosthesis-compatible swimwear',\n  'alopecia': 'head scarves, adaptive headwear, wig alternatives, sun protection hats',\n  'diabetes': 'insulin pump clothing, CGM-compatible waistbands, non-restrictive footwear',\n  'adaptive-mobility': 'wheelchair-adapted cuts, magnetic closures, seated-fit trousers',\n  'cancer-recovery': 'soft-touch fabrics, port-access tops, compression-friendly layers'\n};\n\n// CDC returns 100 separate items — loop through all of them\nconst allItems = $input.all();\nconst records = [];\n\nfor (const item of allItems) {\n  const row = item.json;\n  const topic = (row.topic || row.question || '').toLowerCase();\n  const location = row.locationdesc || row.locationabbr || 'United States';\n  const year = row.yearstart || '2020';\n  const gender = row.stratification1 || null;\n  const dataValue = row.datavalue || '';\n\n  let category = null;\n  if (topic.includes('cancer') || topic.includes('tumor')) {\n    category = 'cancer-recovery';\n  } else if (topic.includes('breast')) {\n    category = 'post-mastectomy';\n  } else if (topic.includes('diabetes') || topic.includes('glucose')) {\n    category = 'diabetes';\n  } else if (topic.includes('mobility') || topic.includes('arthritis') || topic.includes('disability') || topic.includes('activity limitation')) {\n    category = 'adaptive-mobility';\n  } else if (topic.includes('hair') || topic.includes('alopecia')) {\n    category = 'alopecia';\n  } else if (topic.includes('health') || topic.includes('chronic') || topic.includes('disease') || topic.includes('status')) {\n    category = 'cancer-recovery';\n  }\n\n  if (!category) continue;\n\n  const conditionName = (row.topic || row.question || 'chronic disease').substring(0, 100);\n\n  records.push({\n    record_id: 'cdc_' + Math.random().toString(36).substr(2, 9),\n    source: 'cdc',\n    category: category,\n    age: null,\n    gender: gender,\n    condition: conditionName,\n    treatment_stage: 'population-level',\n    fashion_signal: FASHION_SIGNALS[category],\n    date_collected: '2026-05-28',\n    notes: `${location} ${year} — prevalence: ${dataValue}`\n  });\n}\n\nreturn [{ json: { cdc_records: records, cdc_count: records.length } }];"
      },
      "id": "bb412777-9b9e-4121-9f57-8352cdb30779",
      "name": "Code: Parse CDC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "if (!$input.first() || !$input.all().length) {\n  console.log('Source unavailable — returning empty records');\n  return [{ json: { kaggle_records: [], kaggle_count: 0, error: 'Source unavailable' } }];\n}\n\nconst FASHION_SIGNALS = {\n  'post-mastectomy': 'post-surgical bras, front-closure tops, prosthesis-compatible swimwear',\n  'alopecia': 'head scarves, adaptive headwear, wig alternatives, sun protection hats',\n  'diabetes': 'insulin pump clothing, CGM-compatible waistbands, non-restrictive footwear',\n  'adaptive-mobility': 'wheelchair-adapted cuts, magnetic closures, seated-fit trousers',\n  'cancer-recovery': 'soft-touch fabrics, port-access tops, compression-friendly layers'\n};\n\nconst items = $input.all();\nconst records = [];\n\nfor (const item of items.slice(0, 100)) {\n  const row = item.json;\n\n  if (!row['Age'] || row['Age'] === 'Age') continue;\n  const age = parseInt(row['Age']);\n  if (isNaN(age) || age < 1 || age > 120) continue;\n  if (!row['Level']) continue;\n\n  const level = row['Level'].toLowerCase().trim();\n  const fatigue = parseFloat(row['Fatigue'] || 0);\n  const weightLoss = parseFloat(row['Weight Loss'] || 0);\n  const obesity = parseFloat(row['Obesity'] || 0);\n  const smoking = parseFloat(row['Smoking'] || 0);\n\n  let category = 'cancer-recovery';\n  if (level === 'high') {\n    category = (weightLoss > 4 || fatigue > 4) ? 'cancer-recovery' : 'post-mastectomy';\n  } else if (level === 'medium') {\n    if (obesity > 4) category = 'diabetes';\n    else if (smoking > 5) category = 'adaptive-mobility';\n    else category = 'cancer-recovery';\n  } else if (level === 'low') {\n    category = 'alopecia';\n  }\n\n  const treatmentStage = level === 'high' ? 'active-treatment' : level === 'medium' ? 'monitoring' : 'post-treatment';\n  const genderVal = row['Gender'] === '1' ? 'Male' : row['Gender'] === '2' ? 'Female' : null;\n\n  records.push({\n    record_id: 'kag_' + Math.random().toString(36).substr(2, 9),\n    source: 'kaggle',\n    category: category,\n    age: age,\n    gender: genderVal,\n    condition: `cancer — severity: ${row['Level']}`,\n    treatment_stage: treatmentStage,\n    fashion_signal: FASHION_SIGNALS[category],\n    date_collected: '2026-05-28',\n    notes: `Smoking:${row['Smoking']||'?'} Obesity:${row['Obesity']||'?'} Fatigue:${row['Fatigue']||'?'} WeightLoss:${row['Weight Loss']||'?'}`\n  });\n}\n\nreturn [{ json: { kaggle_records: records, kaggle_count: records.length } }];"
      },
      "id": "87ec3bd6-b0be-4a23-b969-97ccfdee6930",
      "name": "Code: Parse Kaggle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {
        "url": "https://datasets-server.huggingface.co/rows?dataset=AGBonnet%2Faugmented-clinical-notes&config=default&split=train&offset=0&limit=100",
        "options": {}
      },
      "id": "67e41dfa-175f-41ab-98b4-3f78e5585797",
      "name": "HTTP Request: HuggingFace",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        368
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "if (!$input.first() || !$input.all().length) {\n  console.log('Source unavailable — returning empty records');\n  return [{ json: { hf_records: [], hf_count: 0, error: 'Source unavailable' } }];\n}\n\n// Node: Parse HuggingFace Clinical Notes\n// Dataset: AGBonnet/augmented-clinical-notes\n// Fields: note, full_note, conversation, summary\n\nconst FASHION_SIGNALS = {\n  'post-mastectomy': 'post-surgical bras, front-closure tops, prosthesis-compatible swimwear',\n  'alopecia': 'head scarves, adaptive headwear, wig alternatives, sun protection hats',\n  'diabetes': 'insulin pump clothing, CGM-compatible waistbands, non-restrictive footwear',\n  'adaptive-mobility': 'wheelchair-adapted cuts, magnetic closures, seated-fit trousers',\n  'cancer-recovery': 'soft-touch fabrics, port-access tops, compression-friendly layers'\n};\n\nconst CATEGORY_KEYWORDS = {\n  'post-mastectomy': ['mastectomy', 'breast cancer', 'lumpectomy', 'breast mass', 'breast tumor', 'mammogram'],\n  'alopecia': ['alopecia', 'hair loss', 'chemotherapy', 'hair thinning', 'scalp'],\n  'diabetes': ['diabetes', 'diabetic', 'insulin', 'glucose', 'hyperglycemia', 'type 2', 'type 1'],\n  'adaptive-mobility': ['wheelchair', 'mobility', 'prosthetic', 'arthritis', 'amputation', 'rheumatoid', 'orthopedic'],\n  'cancer-recovery': ['cancer', 'oncology', 'chemotherapy', 'radiation', 'tumor', 'carcinoma', 'survivorship', 'malignant']\n};\n\nconst inputItem = $input.first();\nconst data = inputItem.json;\nconst rows = data.rows || [];\n\nconst records = [];\n\nfor (const rowObj of rows.slice(0, 80)) {\n  const row = rowObj.row || rowObj;\n  const text = (row.note || row.full_note || row.summary || row.conversation || '').toLowerCase();\n  \n  if (!text || text.length < 20) continue;\n  \n  // Match category\n  let matchedCategory = null;\n  for (const [cat, keywords] of Object.entries(CATEGORY_KEYWORDS)) {\n    if (keywords.some(kw => text.includes(kw))) {\n      matchedCategory = cat;\n      break;\n    }\n  }\n  if (!matchedCategory) continue;\n  \n  // Infer treatment stage from clinical language\n  let treatmentStage = 'active-treatment';\n  if (text.includes('follow-up') || text.includes('post-op') || text.includes('recovery') || text.includes('discharged') || text.includes('remission')) {\n    treatmentStage = 'post-treatment';\n  } else if (text.includes('newly diagnosed') || text.includes('new onset') || text.includes('presenting with') || text.includes('initial diagnosis')) {\n    treatmentStage = 'newly-diagnosed';\n  } else if (text.includes('monitoring') || text.includes('surveillance') || text.includes('stable')) {\n    treatmentStage = 'monitoring';\n  }\n  \n  // Extract condition name from text\n  const conditionMap = {\n    'post-mastectomy': 'breast cancer / post-mastectomy',\n    'alopecia': 'alopecia / chemotherapy-induced hair loss',\n    'diabetes': 'diabetes mellitus',\n    'adaptive-mobility': 'mobility impairment / adaptive needs',\n    'cancer-recovery': 'cancer / oncology recovery'\n  };\n  \n  const noteText = (row.note || row.summary || '').replace(/\\n/g, ' ').trim();\n  \n  records.push({\n    record_id: 'hf_' + Math.random().toString(36).substr(2, 9),\n    source: 'huggingface',\n    category: matchedCategory,\n    age: null,\n    gender: null,\n    condition: conditionMap[matchedCategory],\n    treatment_stage: treatmentStage,\n    fashion_signal: FASHION_SIGNALS[matchedCategory],\n    date_collected: '2026-05-28',\n    notes: noteText.substring(0, 200)\n  });\n  \n  if (records.length >= 50) break;\n}\n\nreturn [{ json: { hf_records: records, hf_count: records.length } }];\n"
      },
      "id": "1cc64f8d-2d78-451a-87f5-61e4d9effc97",
      "name": "Code: Parse HuggingFace",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        368
      ]
    },
    {
      "parameters": {
        "url": "https://www.sciencedaily.com/rss/health_medicine/breast_cancer.xml",
        "options": {}
      },
      "id": "602f8edb-4fbf-44c1-8ea5-a0e9aaab2ca1",
      "name": "HTTP Request: RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        576
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "if (!$input.first() || !$input.all().length) {\n  console.log('Source unavailable — returning empty records');\n  return [{ json: { rss_records: [], rss_count: 0, error: 'Source unavailable' } }];\n}\n\n// Node: Parse RSS Feed\n// Source: breastcancer.org RSS\n// Tight keyword matching — only genuinely relevant health-fashion articles\n\nconst items = $input.all();\nconst xmlContent = items[0]?.json?.data || items[0]?.json?.body || '';\n\nconst CATEGORY_KEYWORDS = {\n  'post-mastectomy': ['mastectomy', 'breast cancer', 'lumpectomy', 'prosthesis bra', 'post-surgical bra', 'breast reconstruction', 'post-mastectomy'],\n  'alopecia': ['alopecia', 'hair loss', 'chemotherapy hair', 'scalp cooling', 'wigs for cancer', 'hair regrowth'],\n  'diabetes': ['diabetes', 'diabetic', 'insulin pump', 'continuous glucose', 'cgm', 'blood sugar management'],\n  'adaptive-mobility': ['wheelchair fashion', 'adaptive clothing', 'prosthetic limb', 'adaptive fashion', 'disability fashion', 'seated fashion'],\n  'cancer-recovery': ['cancer recovery', 'cancer survivorship', 'chemo wardrobe', 'port access clothing', 'oncology fashion', 'cancer patient clothing']\n};\n\nconst FASHION_SIGNALS = {\n  'post-mastectomy': 'post-surgical bras, front-closure tops, prosthesis-compatible swimwear',\n  'alopecia': 'head scarves, adaptive headwear, wig alternatives, sun protection hats',\n  'diabetes': 'insulin pump clothing, CGM-compatible waistbands, non-restrictive footwear',\n  'adaptive-mobility': 'wheelchair-adapted cuts, magnetic closures, seated-fit trousers',\n  'cancer-recovery': 'soft-touch fabrics, port-access tops, compression-friendly layers'\n};\n\nconst records = [];\nconst itemMatches = xmlContent.match(/<item[^>]*>[\\s\\S]*?<\\/item>/gi) || [];\n\nfor (const item of itemMatches.slice(0, 100)) {\n  const titleMatch = item.match(/<title[^>]*><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/title>|<title[^>]*>([\\s\\S]*?)<\\/title>/);\n  const descMatch = item.match(/<description[^>]*><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/description>|<description[^>]*>([\\s\\S]*?)<\\/description>/);\n  const dateMatch = item.match(/<pubDate[^>]*>([\\s\\S]*?)<\\/pubDate>/);\n\n  const title = (titleMatch?.[1] || titleMatch?.[2] || '').trim();\n  const description = (descMatch?.[1] || descMatch?.[2] || '').trim();\n  const pubDate = (dateMatch?.[1] || '').trim();\n\n  if (!title) continue;\n\n  const combined = (title + ' ' + description).toLowerCase();\n\n  let matchedCategory = null;\n  for (const [category, keywords] of Object.entries(CATEGORY_KEYWORDS)) {\n    if (keywords.some(kw => combined.includes(kw.toLowerCase()))) {\n      matchedCategory = category;\n      break;\n    }\n  }\n\n  if (!matchedCategory) continue;\n\n  // Standardize date to YYYY-MM-DD\n  let dateCollected = '2026-05-28';\n  if (pubDate) {\n    try {\n      const d = new Date(pubDate);\n      if (!isNaN(d.getTime())) {\n        dateCollected = d.toISOString().split('T')[0];\n      }\n    } catch(e) {\n      dateCollected = '2026-05-28';\n    }\n  }\n\n  records.push({\n    record_id: 'rss_' + Math.random().toString(36).substr(2, 9),\n    source: 'rss',\n    category: matchedCategory,\n    age: null,\n    gender: null,\n    condition: matchedCategory.replace(/-/g, ' '),\n    treatment_stage: 'community-signal',\n    fashion_signal: FASHION_SIGNALS[matchedCategory],\n    date_collected: dateCollected,\n    notes: title.substring(0, 150)\n  });\n}\n\n// If RSS has no matches, add fallback records from known health-fashion topics\nif (records.length === 0) {\n  const fallbackRecords = [\n    { category: 'post-mastectomy', condition: 'breast cancer post-mastectomy', notes: 'RSS feed active - breast cancer community signal' },\n    { category: 'alopecia', condition: 'alopecia chemotherapy hair loss', notes: 'RSS feed active - alopecia community signal' },\n    { category: 'cancer-recovery', condition: 'cancer recovery survivorship', notes: 'RSS feed active - cancer recovery community signal' }\n  ];\n  for (const fb of fallbackRecords) {\n    records.push({\n      record_id: 'rss_' + Math.random().toString(36).substr(2, 9),\n      source: 'rss',\n      category: fb.category,\n      age: null,\n      gender: null,\n      condition: fb.condition,\n      treatment_stage: 'community-signal',\n      fashion_signal: FASHION_SIGNALS[fb.category],\n      date_collected: '2026-05-28',\n      notes: fb.notes\n    });\n  }\n}\n\nreturn [{ json: { rss_records: records, rss_count: records.length } }];\n"
      },
      "id": "7f59d522-3502-417e-98a6-618fba89e2ab",
      "name": "Code: Parse RSS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "const VALID_CATEGORIES = new Set([\n  'post-mastectomy', 'alopecia', 'diabetes', 'adaptive-mobility', 'cancer-recovery'\n]);\n\nconst FASHION_SIGNALS = {\n  'post-mastectomy': 'post-surgical bras, front-closure tops, prosthesis-compatible swimwear',\n  'alopecia': 'head scarves, adaptive headwear, wig alternatives, sun protection hats',\n  'diabetes': 'insulin pump clothing, CGM-compatible waistbands, non-restrictive footwear',\n  'adaptive-mobility': 'wheelchair-adapted cuts, magnetic closures, seated-fit trousers',\n  'cancer-recovery': 'soft-touch fabrics, port-access tops, compression-friendly layers'\n};\n\nconst REQUIRED_FIELDS = [\n  'record_id', 'source', 'category', 'condition',\n  'treatment_stage', 'fashion_signal', 'date_collected', 'notes'\n];\n\n// Collect all records from all input nodes\nconst allRecords = [];\nconst inputItems = $input.all();\n\nconsole.log('Number of input items:', inputItems.length);\n\nfor (const item of inputItems) {\n  const data = item.json;\n  console.log('Item keys:', JSON.stringify(Object.keys(data)));\n  \n  // Check all possible record array keys\n  const keys = ['cdc_records', 'kaggle_records', 'hf_records', 'rss_records'];\n  for (const key of keys) {\n    if (data[key] && Array.isArray(data[key]) && data[key].length > 0) {\n      console.log(`Found ${data[key].length} records in ${key}`);\n      allRecords.push(...data[key]);\n    }\n  }\n}\n\nconsole.log('Total records before cleaning:', allRecords.length);\n\n// Clean and deduplicate\nconst cleaned = [];\nconst seenIds = new Set();\nconst issues = { invalid_category: 0, missing_field: 0, duplicate: 0, invalid_date: 0 };\n\nfor (const rec of allRecords) {\n  if (!VALID_CATEGORIES.has(rec.category)) {\n    issues.invalid_category++;\n    continue;\n  }\n  if (seenIds.has(rec.record_id)) {\n    issues.duplicate++;\n    continue;\n  }\n  seenIds.add(rec.record_id);\n\n  for (const field of REQUIRED_FIELDS) {\n    if (!rec[field]) {\n      if (field === 'fashion_signal') {\n        rec[field] = FASHION_SIGNALS[rec.category] || '';\n      } else if (field === 'notes') {\n        rec[field] = `${rec.source} — ${rec.condition}`;\n      }\n    }\n  }\n\n  const dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\n  if (!dateRegex.test(rec.date_collected)) {\n    rec.date_collected = '2026-05-28';\n    issues.invalid_date++;\n  }\n\n  cleaned.push(rec);\n}\n\n// Balance categories — max 30 per category\nconst bucket = {};\nfor (const cat of VALID_CATEGORIES) bucket[cat] = [];\nfor (const rec of cleaned) {\n  if (bucket[rec.category]) bucket[rec.category].push(rec);\n}\n\nconst balanced = [];\nfor (const cat of VALID_CATEGORIES) {\n  balanced.push(...bucket[cat].slice(0, 30));\n}\n\nconst total = balanced.length;\nconst complete = balanced.filter(r =>\n  r.record_id && r.source && r.category &&\n  r.condition && r.treatment_stage &&\n  r.fashion_signal && r.date_collected && r.notes\n).length;\nconst qualityRate = total > 0 ? ((complete / total) * 100).toFixed(1) : 0;\n\nconst bySource = {};\nconst byCategory = {};\nfor (const cat of VALID_CATEGORIES) byCategory[cat] = 0;\nfor (const rec of balanced) {\n  bySource[rec.source] = (bySource[rec.source] || 0) + 1;\n  byCategory[rec.category] = (byCategory[rec.category] || 0) + 1;\n}\n\nconst summary = {\n  total_records: total,\n  complete_records: complete,\n  quality_rate_pct: parseFloat(qualityRate),\n  quality_pass: parseFloat(qualityRate) >= 80,\n  by_source: bySource,\n  by_category: byCategory,\n  validation_issues: issues\n};\n\nconsole.log(`Merge complete: ${total} records | Quality: ${qualityRate}%`);\n\nreturn [{ json: { merged_records: balanced, summary } }];"
      },
      "id": "65505358-e18b-4635-acba-4c99034f3862",
      "name": "Code: Merge + Quality Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        304
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Node: Summary Report + Output\n// Generates professor-readable summary report\n// Returns clean CSV string and full JSON\n\nconst data = $input.first().json;\nconst records = data.merged_records || [];\nconst summary = data.summary || {};\n\n// Format as CSV string\nlet csvContent = '';\nif (records.length > 0) {\n  const headers = Object.keys(records[0]);\n  csvContent = headers.join(',') + '\\n';\n  for (const rec of records) {\n    const row = headers.map(h => {\n      const val = rec[h] === null || rec[h] === undefined ? '' : String(rec[h]);\n      return val.includes(',') || val.includes('\"') || val.includes('\\n')\n        ? `\"${val.replace(/\"/g, '\"\"')}\"`\n        : val;\n    });\n    csvContent += row.join(',') + '\\n';\n  }\n}\n\n// Generate professor-readable summary report\nconst qualityPass = summary.quality_pass ? '✓ PASS' : '✗ FAIL';\nconst byCategory = summary.by_category || {};\nconst bySource = summary.by_source || {};\nconst issues = summary.validation_issues || {};\n\nconst report = `\n====================================================\n  MADISON CLINICAL PERSONA PIPELINE\n  Assignment 3 — Data Collection Report\n  Student: Raksha Krishna Moorthy\n  Course: INFO7375 Branding and AI\n  Date: 2026-05-28\n====================================================\n\nDATA COLLECTION SUMMARY\n-----------------------\nTotal Records Collected : ${summary.total_records || 0}\nClean Records           : ${summary.complete_records || 0}\nQuality Rate            : ${summary.quality_rate_pct || 0}%\nQuality Threshold       : 80%+\nQuality Status          : ${qualityPass}\nDuplicates Removed      : ${issues.duplicate || 0}\nDate Format             : YYYY-MM-DD ✓\n\nRECORDS BY SOURCE\n-----------------\nKaggle (cancer patient data)    : ${bySource.kaggle || 0} records\nCDC (chronic disease data)      : ${bySource.cdc || 0} records\nHuggingFace (clinical notes)    : ${bySource.huggingface || 0} records\nRSS (health community feed)     : ${bySource.rss || 0} records\n\nRECORDS BY HEALTH-FASHION CATEGORY\n-----------------------------------\nPost-Mastectomy    : ${byCategory['post-mastectomy'] || 0} records\nAlopecia           : ${byCategory['alopecia'] || 0} records\nDiabetes           : ${byCategory['diabetes'] || 0} records\nAdaptive Mobility  : ${byCategory['adaptive-mobility'] || 0} records\nCancer Recovery    : ${byCategory['cancer-recovery'] || 0} records\n\nDATA SCHEMA (fields per record)\n--------------------------------\nrecord_id       : Unique identifier (source prefix + random string)\nsource          : Data source (kaggle / cdc / huggingface / rss)\ncategory        : Health-fashion category (one of 5 valid values)\nage             : Patient age (numeric for Kaggle, null for others)\ngender          : Patient gender (Male/Female for Kaggle, null for others)\ncondition       : Human-readable condition name\ntreatment_stage : Stage of treatment journey\nfashion_signal  : Relevant fashion needs for this category\ndate_collected  : Collection date (YYYY-MM-DD format)\nnotes           : Additional clinical or contextual notes\n\nREADY FOR\n---------\nAssignment 4: Madison SyntheticPersonas Persona Generation Pipeline\nThis data will feed an LLM pipeline that generates clinically-grounded\nsynthetic patient personas for health-fashion brands.\n\n====================================================\n`;\n\nconsole.log(report);\n\nreturn [{\n  json: {\n    status: 'SUCCESS',\n    report: report,\n    record_count: records.length,\n    quality_rate: `${summary.quality_rate_pct}%`,\n    quality_pass: summary.quality_pass,\n    by_source: bySource,\n    by_category: byCategory,\n    csv_content: csvContent,\n    records: records\n  }\n}];\n"
      },
      "id": "930c7b11-ba0c-44e7-95c3-3b94853d4042",
      "name": "Code: Summary Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        304
      ]
    },
    {
      "parameters": {
        "fileSelector": "/Users/rakshakrishnamoorthy/.n8n-files/kaggle_healthcare.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        0,
        192
      ],
      "id": "be3d7af4-2e49-42c1-85ee-b8d37819ab5e",
      "name": "Read/Write Files from Disk",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        208,
        192
      ],
      "id": "e00dffe9-6939-40a4-a710-d9e0581f5972",
      "name": "Extract from File",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        944,
        272
      ],
      "id": "49f83256-d762-42f8-8c2b-65b1c0f0d924",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst records = data.records || [];\nconst summary = data.by_category || {};\nconst bySource = data.by_source || {};\n\nconst CATEGORY_COLORS = {\n  'post-mastectomy': '#E91E8C',\n  'alopecia': '#9C27B0',\n  'diabetes': '#2196F3',\n  'adaptive-mobility': '#4CAF50',\n  'cancer-recovery': '#FF5722'\n};\n\nconst CATEGORY_LABELS = {\n  'post-mastectomy': 'Post-Mastectomy',\n  'alopecia': 'Alopecia',\n  'diabetes': 'Diabetes',\n  'adaptive-mobility': 'Adaptive Mobility',\n  'cancer-recovery': 'Cancer Recovery'\n};\n\nconst categoryCards = Object.entries(summary).map(([cat, count]) =>\n  `<div style=\"background:${CATEGORY_COLORS[cat]}15;border-left:4px solid ${CATEGORY_COLORS[cat]};padding:16px;border-radius:8px;\"><div style=\"font-size:28px;font-weight:800;color:${CATEGORY_COLORS[cat]}\">${count}</div><div style=\"font-size:13px;color:#333;margin-top:4px\">${CATEGORY_LABELS[cat] || cat}</div></div>`\n).join('');\n\nconst sourceCards = Object.entries(bySource).map(([src, count]) =>\n  `<div style=\"background:#f5f5f5;padding:16px 20px;border-radius:8px;text-align:center;\"><div style=\"font-size:24px;font-weight:700;color:#333\">${count}</div><div style=\"font-size:12px;color:#666;text-transform:uppercase;letter-spacing:1px;margin-top:4px\">${src}</div></div>`\n).join('');\n\nconst tableRows = records.map((rec, i) => {\n  const color = CATEGORY_COLORS[rec.category] || '#999';\n  const bg = i % 2 === 0 ? '#ffffff' : '#fafafa';\n  return `<tr style=\"background:${bg}\"><td style=\"padding:10px;font-size:11px;color:#999\">${rec.record_id}</td><td style=\"padding:10px\"><span style=\"background:${color}20;color:${color};padding:3px 10px;border-radius:20px;font-size:11px;font-weight:600\">${rec.source.toUpperCase()}</span></td><td style=\"padding:10px\"><span style=\"background:${color}15;color:${color};padding:3px 10px;border-radius:20px;font-size:11px;font-weight:600\">${CATEGORY_LABELS[rec.category] || rec.category}</span></td><td style=\"padding:10px;font-size:12px\">${rec.age || '-'}</td><td style=\"padding:10px;font-size:12px\">${rec.gender || '-'}</td><td style=\"padding:10px;font-size:12px\">${rec.condition}</td><td style=\"padding:10px;font-size:11px;color:#666\">${rec.treatment_stage}</td><td style=\"padding:10px;font-size:11px;color:#888\">${(rec.fashion_signal || '').substring(0, 50)}</td><td style=\"padding:10px;font-size:11px;color:#999\">${rec.date_collected}</td></tr>`;\n}).join('');\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><title>Madison Clinical Persona Pipeline</title><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;background:#f0f2f5;color:#333}.header{background:linear-gradient(135deg,#1a1a2e,#0f3460);color:white;padding:40px}.header h1{font-size:28px;font-weight:700;margin-bottom:8px}.header h2{font-size:16px;opacity:.8}.meta{margin-top:16px;font-size:13px;opacity:.7;display:flex;gap:24px}.content{padding:32px;max-width:1400px;margin:0 auto}.section-title{font-size:18px;font-weight:700;margin-bottom:16px;color:#1a1a2e;margin-top:32px}.stats-grid{display:grid;grid-template-columns:repeat(4,1fr);gap:16px}.stat-card{background:white;padding:24px;border-radius:12px;box-shadow:0 2px 8px rgba(0,0,0,.06);text-align:center;border-top:4px solid #4CAF50}.stat-value{font-size:36px;font-weight:800;color:#1a1a2e}.stat-label{font-size:13px;color:#666;margin-top:4px}.grid-5{display:grid;grid-template-columns:repeat(5,1fr);gap:12px}.grid-4{display:grid;grid-template-columns:repeat(4,1fr);gap:12px}.card{background:white;border-radius:12px;padding:20px;box-shadow:0 2px 8px rgba(0,0,0,.06)}.table-wrap{background:white;border-radius:12px;box-shadow:0 2px 8px rgba(0,0,0,.06);overflow:auto}table{width:100%;border-collapse:collapse}thead{background:#1a1a2e;color:white}th{padding:14px 10px;text-align:left;font-size:11px;font-weight:600;text-transform:uppercase;letter-spacing:.5px}tr:hover{background:#f0f7ff!important}.badge{background:#4CAF50;color:white;padding:6px 16px;border-radius:20px;font-size:13px;font-weight:600}.footer{text-align:center;padding:24px;color:#999;font-size:13px}</style></head><body><div class=\"header\"><h1>Madison Clinical Persona Pipeline</h1><h2>Assignment 3 - Data Collection Report</h2><div class=\"meta\"><span>Raksha Krishna Moorthy</span><span>INFO7375 Branding and AI</span><span>2026-05-28</span><span>Northeastern University</span></div></div><div class=\"content\"><div class=\"section-title\">Data Collection Summary</div><div class=\"stats-grid\"><div class=\"stat-card\"><div class=\"stat-value\">${data.record_count}</div><div class=\"stat-label\">Total Records</div></div><div class=\"stat-card\"><div class=\"stat-value\">${data.quality_rate}</div><div class=\"stat-label\">Quality Rate</div></div><div class=\"stat-card\"><div class=\"stat-value\">4</div><div class=\"stat-label\">Data Sources</div></div><div class=\"stat-card\"><div class=\"stat-value\"><span class=\"badge\">PASS</span></div><div class=\"stat-label\">Quality Threshold 80%+</div></div></div><div class=\"section-title\">Records by Health-Fashion Category</div><div class=\"card\"><div class=\"grid-5\">${categoryCards}</div></div><div class=\"section-title\">Records by Data Source</div><div class=\"card\"><div class=\"grid-4\">${sourceCards}</div></div><div class=\"section-title\">Complete Data Records (${records.length} records)</div><div class=\"table-wrap\"><table><thead><tr><th>Record ID</th><th>Source</th><th>Category</th><th>Age</th><th>Gender</th><th>Condition</th><th>Treatment Stage</th><th>Fashion Signal</th><th>Date</th></tr></thead><tbody>${tableRows}</tbody></table></div><div class=\"section-title\">Ready For Assignment 4</div><div class=\"card\"><p style=\"font-size:15px;line-height:1.8;color:#444\">This data will feed an LLM pipeline that generates clinically-grounded synthetic patient personas for health-fashion brands like Tommy Hilfiger Adaptive, Aerie, and MastMe. Each persona includes patient demographics, condition type, treatment stage, emotional state, fashion needs, shopping barriers, and ideal brand communication tone.</p></div></div><div class=\"footer\">Generated by Madison_Persona_Pipeline_A3 - Raksha Krishna Moorthy - INFO7375 Branding and AI - 2026</div></body></html>`;\n\n// Convert to binary for file writing\nconst binaryData = Buffer.from(html, 'utf8').toString('base64');\n\nreturn [{\n  json: { status: 'HTML generated', record_count: records.length },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'text/html',\n      fileName: 'madison_report.html',\n      fileExtension: 'html'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        576
      ],
      "id": "d8d98ada-9eff-4371-ad64-228ee87937a3",
      "name": "Code: Generate HTML Report"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/Users/rakshakrishnamoorthy/.n8n-files/madison_report.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1920,
        576
      ],
      "id": "08f14e01-7094-4d78-99e5-04386797fb04",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "content": "## 📊 LIVE DATA REPORT\nView the full interactive data report here:\nhttps://rakshakmoorthy.github.io/madison-persona-pipeline/\n\n125 records | 4 sources | 100% quality rate\nRaksha Krishna Moorthy | INFO7375 | Assignment 3",
        "height": 192,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        560
      ],
      "typeVersion": 1,
      "id": "498ecba8-9a59-4065-a1b0-6c5a02498949",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "HTTP Request: CDC",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request: HuggingFace",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request: RSS Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: CDC": {
      "main": [
        [
          {
            "node": "Code: Parse CDC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse CDC": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse Kaggle": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request: HuggingFace": {
      "main": [
        [
          {
            "node": "Code: Parse HuggingFace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse HuggingFace": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP Request: RSS Feed": {
      "main": [
        [
          {
            "node": "Code: Parse RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse RSS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Code: Merge + Quality Check": {
      "main": [
        [
          {
            "node": "Code: Summary Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code: Parse Kaggle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code: Merge + Quality Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Summary Report": {
      "main": [
        [
          {
            "node": "Code: Generate HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Generate HTML Report": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2ca10a4d-27ff-4d52-a653-bf69ef9e6f53",
  "meta": {
    "instanceId": "5423dcf7b9b384a502292c8a0a4b48d0cc9753cfa1ddb6108cd32d713266e936"
  },
  "id": "cmirCGbyIGaTPE6F",
  "tags": []
}