pantry/maddukurisatwika_352048_41799763_Maddukuri_Satwika_A3_Workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        0
      ],
      "id": "ebcde77c-5276-4a3c-880d-39304ef417ed",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\satu7\\.n8n-files\\phishing_clean.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        -192
      ],
      "id": "bced3e18-bc8e-48c2-8356-bfec03ecef67",
      "name": "Phishing Dataset"
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\satu7\\.n8n-files\\GCT_clean.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "38e0464f-d444-4597-8614-b44f2eaec02a",
      "name": "GCT Dataset"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "42817c6e-e721-4102-ba49-191221d8a1e3",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        -192
      ],
      "id": "e0a6f169-2762-4374-89ea-1bc6ca7218c5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "maxItems": 120
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        624,
        -192
      ],
      "id": "09d38e9f-8eee-498d-9b66-ff73f56fe2b7",
      "name": "Limit Phishing"
    },
    {
      "parameters": {
        "maxItems": 120
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "b3fde9a4-f8c7-4f1f-9809-7a4027797bf7",
      "name": "Limit GCT"
    },
    {
      "parameters": {
        "url": "https://www.cisa.gov/cybersecurity-advisories/all.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        192
      ],
      "id": "576bbe51-d4b3-4fcf-b3b5-e4670a094f4f",
      "name": "CISA Security Feed"
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        624,
        192
      ],
      "id": "c6ecfb94-21a2-4742-95f6-e0cb015906b3",
      "name": "Limit RSS"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst xmlData = items[0].json.data;\n\n// Parse XML items using regex\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nconst titleRegex = /<title>([\\s\\S]*?)<\\/title>/;\nconst linkRegex = /<link>([\\s\\S]*?)<\\/link>/;\nconst descRegex = /<description>([\\s\\S]*?)<\\/description>/;\nconst pubDateRegex = /<pubDate>([\\s\\S]*?)<\\/pubDate>/;\n\nconst results = [];\nlet match;\n\nwhile ((match = itemRegex.exec(xmlData)) !== null) {\n  const item = match[1];\n  const title = (item.match(titleRegex) || [])[1] || '';\n  const link = (item.match(linkRegex) || [])[1] || '';\n  const description = (item.match(descRegex) || [])[1] || '';\n  const pubDate = (item.match(pubDateRegex) || [])[1] || '';\n\n  results.push({\n    json: {\n      source: 'CISA',\n      attack_type: 'Security Advisory',\n      title: title.trim(),\n      link: link.trim(),\n      description: description.replace(/<[^>]*>/g, '').trim().substring(0, 200),\n      date: pubDate.trim(),\n      threat_type: 'Cyber Threat',\n      data_source: 'CISA RSS Feed'\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        192
      ],
      "id": "5627e822-ac98-4d40-ad4a-f5fb55886062",
      "name": "Parse CISA XML"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        -16
      ],
      "id": "1802e4a7-8e1a-42aa-9a8e-8e1e5fa3ca47",
      "name": "Merge All Sources"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        0
      ],
      "id": "d8b2d15c-4bda-4aba-bff3-fd251386e040",
      "name": "Save Final CSV"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\Users\\satu7\\.n8n-files\\human_vulnerability_personas_data.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1328,
        0
      ],
      "id": "169b1233-790c-416d-b410-2e48489078f9",
      "name": "Export to CSV"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GCT Dataset",
            "type": "main",
            "index": 0
          },
          {
            "node": "Phishing Dataset",
            "type": "main",
            "index": 0
          },
          {
            "node": "CISA Security Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phishing Dataset": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GCT Dataset": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Limit Phishing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Limit GCT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CISA Security Feed": {
      "main": [
        [
          {
            "node": "Parse CISA XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CISA XML": {
      "main": [
        [
          {
            "node": "Limit RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Phishing": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit GCT": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limit RSS": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All Sources": {
      "main": [
        [
          {
            "node": "Save Final CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Final CSV": {
      "main": [
        [
          {
            "node": "Export to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ac02ff05-4c80-4f2f-a55d-7d27649f0ed1",
  "meta": {
    "instanceId": "9b85d10dbfcda026def19d32f67f7b646f43c70858dda52b86be9aa959fea437"
  },
  "id": "lCZRqS75RKVOa1rH",
  "tags": []
}