pantry/manyaratanaka_312461_41801533_Tanaka_A3_Workflow.json
{
  "name": "Cloud Pipeline Data Collection — Assignment 3",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "url": "https://aws.amazon.com/blogs/aws/feed/",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Source 1: AWS Blog RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [480, 240]
    },
    {
      "parameters": {
        "url": "https://cloud.google.com/feeds/gcp-release-notes.xml",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Source 2: Google Cloud RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [480, 400]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/cloudcertdata/public-datasets/main/cloud_jobs_sample.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Source 3: Cloud Jobs CSV (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 560]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [740, 400]
    },
    {
      "parameters": {
        "jsCode": "// ── Clean & Standardize ─────────────────────────────────────────────────\n// This node processes items from all 3 sources and outputs a\n// unified, clean record for each item.\n\nconst seen = new Set();\nconst cleaned = [];\n\nconst cloudKeywords = [\n  'cloud', 'aws', 'azure', 'gcp', 'kubernetes', 'terraform',\n  'devops', 'docker', 'lambda', 'serverless', 'pipeline',\n  'certification', 'architect', 'engineer', 'data', 'storage',\n  'compute', 'networking', 'security', 'iam', 'vpc', 's3',\n  'bigquery', 'pubsub', 'cloudwatch', 'ec2', 'rds'\n];\n\nfunction detectPlatform(text) {\n  const t = (text || '').toLowerCase();\n  if (t.includes('aws') || t.includes('amazon'))   return 'AWS';\n  if (t.includes('azure') || t.includes('microsoft')) return 'Azure';\n  if (t.includes('gcp') || t.includes('google cloud')) return 'GCP';\n  if (t.includes('kubernetes') || t.includes('k8s')) return 'Kubernetes';\n  return 'Multi-Cloud';\n}\n\nfunction extractSkills(text) {\n  const t = (text || '').toLowerCase();\n  return cloudKeywords\n    .filter(k => t.includes(k))\n    .slice(0, 5)\n    .join(', ') || 'cloud-general';\n}\n\nfunction standardizeDate(raw) {\n  try {\n    const d = new Date(raw);\n    if (isNaN(d.getTime())) return new Date().toISOString().slice(0, 10);\n    return d.toISOString().slice(0, 10);\n  } catch (_) {\n    return new Date().toISOString().slice(0, 10);\n  }\n}\n\nfor (const item of $input.all()) {\n  const j = item.json;\n\n  // Skip empty items\n  if (!j || Object.keys(j).length === 0) continue;\n\n  // Extract fields regardless of which source the item came from\n  const title   = (j.title   || j.name    || j.job_title  || '').trim();\n  const summary = (j.summary || j.content || j.description || j.body || '').trim();\n  const link    = (j.link    || j.url     || j.source_url  || '').trim();\n  const rawDate = j.pubDate  || j.date    || j.published   || j.isoDate || '';\n  const sourceName = j._source || j.source || (link.includes('aws') ? 'AWS Blog' : link.includes('google') ? 'Google Cloud Blog' : 'Cloud Jobs Dataset');\n\n  if (!title) continue;   // must have a title\n\n  // Deduplicate by title\n  const key = title.toLowerCase().replace(/\\s+/g, ' ');\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  const fullText = `${title} ${summary}`;\n\n  cleaned.push({\n    title,\n    platform:       detectPlatform(fullText),\n    skill_tags:     extractSkills(fullText),\n    summary:        summary.slice(0, 200).replace(/[\\r\\n]+/g, ' '),\n    source:         sourceName,\n    source_url:     link,\n    date:           standardizeDate(rawDate),\n    record_quality: (title && rawDate && link) ? 'complete' : 'partial'\n  });\n}\n\n// Sort by date descending\ncleaned.sort((a, b) => b.date.localeCompare(a.date));\n\nreturn cleaned.map(c => ({ json: c }));\n"
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Clean & Standardize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 400]
    },
    {
      "parameters": {
        "jsCode": "// ── Quality Check ────────────────────────────────────────────────────────\n// Log quality stats and flag any records missing critical fields.\nconst items = $input.all();\nconst total = items.length;\nconst complete = items.filter(i => i.json.record_quality === 'complete').length;\nconst pct = total > 0 ? Math.round((complete / total) * 100) : 0;\n\nconsole.log(`Quality check: ${complete}/${total} complete records (${pct}%)`);\n\nif (total < 50) {\n  console.warn('WARNING: fewer than 50 records collected. Check data sources.');\n}\n\n// Pass all items through unchanged — we're just logging\nreturn items;\n"
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Quality Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "options": {
          "fileName": "cloud_pipeline_data.csv"
        }
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Save to CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [1420, 400]
    },
    {
      "parameters": {
        "fileName": "C:/Users/Public/cloud_pipeline_data.csv",
        "options": {}
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Write File to Disk",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1640, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          { "node": "Source 1: AWS Blog RSS",      "type": "main", "index": 0 },
          { "node": "Source 2: Google Cloud RSS",  "type": "main", "index": 0 },
          { "node": "Source 3: Cloud Jobs CSV (HTTP)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Source 1: AWS Blog RSS": {
      "main": [[{ "node": "Merge All Sources", "type": "main", "index": 0 }]]
    },
    "Source 2: Google Cloud RSS": {
      "main": [[{ "node": "Merge All Sources", "type": "main", "index": 1 }]]
    },
    "Source 3: Cloud Jobs CSV (HTTP)": {
      "main": [[{ "node": "Merge All Sources", "type": "main", "index": 2 }]]
    },
    "Merge All Sources": {
      "main": [[{ "node": "Clean & Standardize", "type": "main", "index": 0 }]]
    },
    "Clean & Standardize": {
      "main": [[{ "node": "Quality Check", "type": "main", "index": 0 }]]
    },
    "Quality Check": {
      "main": [[{ "node": "Save to CSV", "type": "main", "index": 0 }]]
    },
    "Save to CSV": {
      "main": [[{ "node": "Write File to Disk", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
