pantry/Nguyen_Duc_A3_Workflow.json
{
  "id": "NguyenDucA3PublicSignalPipeline",
  "name": "Nguyen_Duc_A3_Public_Signal_Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-900, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://hn.algolia.com/api/v1/search_by_date?query=ai%20agents&tags=story&hitsPerPage=60",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "http-hacker-news",
      "name": "HTTP - Hacker News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-620, -260],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://dev.to/api/articles?tag=ai&per_page=60&top=30",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "http-dev-to",
      "name": "HTTP - DEV Community",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-620, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/search/repositories?q=ai+agent+in:name,description&sort=updated&order=desc&per_page=60",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "http-github",
      "name": "HTTP - GitHub Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-620, 260],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const now = new Date().toISOString().slice(0, 10);\nconst first = $input.first()?.json ?? {};\nconst hits = Array.isArray(first.hits) ? first.hits : [];\n\nfunction ymd(value) {\n  if (!value) return '';\n  return String(value).slice(0, 10);\n}\n\nreturn hits.map((hit) => {\n  const recordId = String(hit.objectID ?? '');\n  const url = hit.url || `https://news.ycombinator.com/item?id=${recordId}`;\n  const title = hit.title || hit.story_title || '';\n  const points = Number(hit.points ?? 0);\n  const comments = Number(hit.num_comments ?? 0);\n\n  return {\n    json: {\n      record_id: recordId,\n      source_name: 'hacker_news',\n      source_type: 'discussion',\n      title,\n      text: '',\n      author: hit.author || '',\n      url,\n      posted_at: ymd(hit.created_at),\n      engagement_score: points + comments,\n      comments_count: comments,\n      tags: 'ai agents',\n      content_hash: `hacker_news|${title}|${url}`,\n      collected_at: now,\n      quality_status: 'unchecked'\n    }\n  };\n});"
      },
      "id": "normalize-hacker-news",
      "name": "Normalize - Hacker News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, -260]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const now = new Date().toISOString().slice(0, 10);\nconst incoming = $input.all();\nconst records = incoming.length === 1 && Array.isArray(incoming[0].json)\n  ? incoming[0].json\n  : incoming.map((item) => item.json);\n\nfunction ymd(value) {\n  if (!value) return '';\n  return String(value).slice(0, 10);\n}\n\nreturn records.map((article) => {\n  const recordId = String(article.id ?? '');\n  const title = article.title || '';\n  const url = article.url || article.canonical_url || '';\n  const reactions = Number(article.positive_reactions_count ?? 0);\n  const comments = Number(article.comments_count ?? 0);\n  const tags = Array.isArray(article.tag_list) ? article.tag_list.join(', ') : String(article.tag_list ?? '');\n\n  return {\n    json: {\n      record_id: recordId,\n      source_name: 'dev_to',\n      source_type: 'developer_article',\n      title,\n      text: article.description || '',\n      author: article.user?.username || article.user?.name || '',\n      url,\n      posted_at: ymd(article.published_at || article.created_at),\n      engagement_score: reactions + comments,\n      comments_count: comments,\n      tags,\n      content_hash: `dev_to|${title}|${url}`,\n      collected_at: now,\n      quality_status: 'unchecked'\n    }\n  };\n});"
      },
      "id": "normalize-dev-to",
      "name": "Normalize - DEV Community",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const now = new Date().toISOString().slice(0, 10);\nconst first = $input.first()?.json ?? {};\nconst repos = Array.isArray(first.items) ? first.items : [];\n\nfunction ymd(value) {\n  if (!value) return '';\n  return String(value).slice(0, 10);\n}\n\nreturn repos.map((repo) => {\n  const recordId = String(repo.id ?? '');\n  const title = repo.full_name || repo.name || '';\n  const url = repo.html_url || '';\n  const stars = Number(repo.stargazers_count ?? 0);\n  const forks = Number(repo.forks_count ?? 0);\n\n  return {\n    json: {\n      record_id: recordId,\n      source_name: 'github',\n      source_type: 'developer_repo',\n      title,\n      text: repo.description || '',\n      author: repo.owner?.login || '',\n      url,\n      posted_at: ymd(repo.pushed_at || repo.updated_at || repo.created_at),\n      engagement_score: stars + forks,\n      comments_count: 0,\n      tags: repo.language || '',\n      content_hash: `github|${title}|${url}`,\n      collected_at: now,\n      quality_status: 'unchecked'\n    }\n  };\n});"
      },
      "id": "normalize-github",
      "name": "Normalize - GitHub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 260]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-hn-dev",
      "name": "Merge - HN + DEV",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [0, -130]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-all-sources",
      "name": "Merge - All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [300, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const required = ['record_id', 'source_name', 'title', 'url', 'posted_at'];\nconst seen = new Set();\nconst sourceCounts = {};\nlet duplicateRowsRemoved = 0;\nlet incompleteRowsRemoved = 0;\n\nconst cleaned = [];\n\nfor (const item of $input.all()) {\n  const row = { ...item.json };\n  row.posted_at = row.posted_at ? String(row.posted_at).slice(0, 10) : '';\n  row.collected_at = row.collected_at ? String(row.collected_at).slice(0, 10) : new Date().toISOString().slice(0, 10);\n\n  const missingRequired = required.some((field) => !row[field]);\n  if (missingRequired) {\n    incompleteRowsRemoved += 1;\n    continue;\n  }\n\n  const dedupeKey = `${row.source_name}:${row.record_id}`;\n  if (seen.has(dedupeKey)) {\n    duplicateRowsRemoved += 1;\n    continue;\n  }\n  seen.add(dedupeKey);\n\n  row.quality_status = 'complete';\n  sourceCounts[row.source_name] = (sourceCounts[row.source_name] || 0) + 1;\n  cleaned.push(row);\n}\n\nconst totalBeforeCleaning = $input.all().length;\nconst cleanRecords = cleaned.length;\nconst qualityRate = totalBeforeCleaning === 0 ? 0 : Number(((cleanRecords / totalBeforeCleaning) * 100).toFixed(1));\n\nconst summary = {\n  record_id: 'QUALITY_SUMMARY',\n  source_name: 'summary',\n  source_type: 'quality_report',\n  title: `Quality summary: ${cleanRecords}/${totalBeforeCleaning} clean records (${qualityRate}%)`,\n  text: `Sources=${Object.keys(sourceCounts).length}; sourceCounts=${JSON.stringify(sourceCounts)}; incompleteRowsRemoved=${incompleteRowsRemoved}; duplicateRowsRemoved=${duplicateRowsRemoved}`,\n  author: 'n8n workflow',\n  url: 'local-quality-summary',\n  posted_at: new Date().toISOString().slice(0, 10),\n  engagement_score: cleanRecords,\n  comments_count: 0,\n  tags: 'quality summary',\n  content_hash: `summary|${cleanRecords}|${qualityRate}`,\n  collected_at: new Date().toISOString().slice(0, 10),\n  quality_status: 'complete'\n};\n\nreturn [...cleaned, summary].map((row) => ({ json: row }));"
      },
      "id": "clean-dedupe-validate",
      "name": "Clean, Deduplicate, Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 0]
    },
    {
      "parameters": {
        "operation": "csv",
        "binaryPropertyName": "data",
        "options": {
          "fileName": "Nguyen_Duc_A3_Public_Signal_Data.csv",
          "headerRow": true,
          "delimiter": ","
        }
      },
      "id": "convert-to-csv",
      "name": "Convert to CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [900, 0]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/Users/ducmac/Downloads/Nguyen_Duc_A3_Public_Signal_Data.csv",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "write-csv-file",
      "name": "Write CSV to Downloads",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [1180, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "HTTP - Hacker News",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP - DEV Community",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP - GitHub Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Hacker News": {
      "main": [
        [
          {
            "node": "Normalize - Hacker News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - DEV Community": {
      "main": [
        [
          {
            "node": "Normalize - DEV Community",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - GitHub Search": {
      "main": [
        [
          {
            "node": "Normalize - GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize - Hacker News": {
      "main": [
        [
          {
            "node": "Merge - HN + DEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize - DEV Community": {
      "main": [
        [
          {
            "node": "Merge - HN + DEV",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalize - GitHub": {
      "main": [
        [
          {
            "node": "Merge - All Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - HN + DEV": {
      "main": [
        [
          {
            "node": "Merge - All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - All Sources": {
      "main": [
        [
          {
            "node": "Clean, Deduplicate, Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean, Deduplicate, Validate": {
      "main": [
        [
          {
            "node": "Convert to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to CSV": {
      "main": [
        [
          {
            "node": "Write CSV to Downloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "assignment-3-initial",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
