pantry/ranahammad_320831_41799387_Rana_Hammad_A3_Workflow.json
{
  "name": "Sentinel_A3_DataPipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "458ff189-045e-4728-94c3-459105cde1e6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\Hammad\\.n8n-files\\breaches_raw.csv",
        "options": {
          "fileName": ""
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "c8d8cf60-555e-44d5-8360-526fa6cf2380",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {
          "delimiter": ",",
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "6c95793a-e63a-4cc9-9288-cc4ec6379b8b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Schema normalization for Source 1: Kaggle breach data\n// Maps Information is Beautiful \"World's Biggest Data Breaches\" → unified schema\n\nconst allItems = $input.all();\nconst normalized = [];\nconst collectedAt = new Date().toISOString();\n\nallItems.forEach((item, index) => {\n  const raw = item.json;\n\n  // Skip the metadata row (it starts with \"visualisation here:\")\n  const orgName = String(raw['organisation'] || '').trim();\n  if (orgName.toLowerCase().startsWith('visualisation here') || orgName === '') {\n    return; // skip this row\n  }\n\n  // Year column has trailing spaces in source CSV — handle gracefully\n  const yearRaw = raw['year   '] || raw['year'] || '';\n  const year = String(yearRaw).trim();\n\n  // Date: source has a \"date\" column with values like \"Nov 2018\"\n  // For schema we standardize to YYYY-MM-DD; if only year known, use Jan 1\n  let date = '';\n  if (year && /^\\d{4}$/.test(year)) {\n    date = `${year}-01-01`;\n  }\n\n  // Severity: map the 1–5 data sensitivity scale to our enum\n  const sensitivityRaw = raw['data sensitivity'];\n  let severity = 'N/A';\n  const s = parseInt(sensitivityRaw, 10);\n  if (s === 5) severity = 'Critical';\n  else if (s === 4) severity = 'High';\n  else if (s === 3) severity = 'Medium';\n  else if (s === 2) severity = 'Low';\n  else if (s === 1) severity = 'Low';\n\n  // Records lost — clean up text like \"3m\", \"4m\", \"unknown\"\n  const recordsLostRaw = String(raw['records lost'] || '').trim();\n\n  // Source URLs\n  const sourceUrl = raw['1st source link'] || raw['2nd source link'] || '';\n\n  // Description from the story column + structured context\n  const story = String(raw['story'] || '').trim();\n  const method = String(raw['method'] || '').trim();\n  const sector = String(raw['sector'] || '').trim();\n  const description = story\n    ? story.slice(0, 500) // cap to 500 chars\n    : `${method} breach in ${sector} sector affecting ${orgName}`;\n\n  // Quality flags — track what's missing\n  const qualityFlags = [];\n  if (!year) qualityFlags.push('missing_year');\n  if (!sector) qualityFlags.push('missing_sector');\n  if (!method) qualityFlags.push('missing_method');\n  if (severity === 'N/A') qualityFlags.push('missing_severity');\n  if (!sourceUrl) qualityFlags.push('missing_source_url');\n\n  normalized.push({\n    json: {\n      record_id: `BREACH-${year || 'XXXX'}-${String(index).padStart(4, '0')}`,\n      source: 'kaggle_breaches',\n      source_type: 'historical_breach',\n      collected_at: collectedAt,\n      date: date,\n      entity: orgName,\n      category: 'third-party',\n      severity: severity,\n      description: description,\n      raw_url: sourceUrl,\n      quality_flags: qualityFlags,\n      details: {\n        records_lost_raw: recordsLostRaw,\n        sector: sector,\n        breach_method: method,\n        year: year,\n        sensitivity_score: isNaN(s) ? null : s\n      }\n    }\n  });\n});\n\nreturn normalized;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ],
      "id": "f4324508-19be-4a19-af98-3325e044a2bb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        800,
        0
      ],
      "id": "e8553e69-998b-475c-b0d2-1510c559c436",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\Users\\Hammad\\.n8n-files\\breaches_normalized.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1008,
        0
      ],
      "id": "a6b58e6f-c7e6-44f0-a760-0f49b44c7d83",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "url": "https://www.cisa.gov/cybersecurity-advisories/all.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -48,
        304
      ],
      "id": "467fb926-b3ab-486f-924e-80b73d0f9a04",
      "name": "CISA RSS Read"
    },
    {
      "parameters": {
        "jsCode": "// Schema normalization for Source 3: CISA RSS feed\n// Live cybersecurity advisories normalized into the unified schema\n\nconst allItems = $input.all();\nconst normalized = [];\nconst collectedAt = new Date().toISOString();\n\nallItems.forEach((item, index) => {\n  const raw = item.json;\n\n  const title = String(raw.title || '').trim();\n  const link = String(raw.link || '').trim();\n\n  // Date: prefer isoDate, fall back to pubDate\n  const dateRaw = raw.isoDate || raw.pubDate || raw.date || '';\n  let date = '';\n  try {\n    if (dateRaw) {\n      const d = new Date(dateRaw);\n      if (!isNaN(d.getTime())) {\n        date = d.toISOString().split('T')[0];\n      }\n    }\n  } catch (e) {\n    date = '';\n  }\n\n  // Description: strip HTML, cap at 500 chars\n  let description = String(raw.contentSnippet || raw.content || raw.summary || '').trim();\n  description = description.replace(/<[^>]*>/g, '').trim();\n  if (description.length > 500) {\n    description = description.slice(0, 500) + '...';\n  }\n  if (!description) description = title;\n\n  // Severity heuristic — CISA advisories vary; bump on critical keywords\n  let severity = 'Medium';\n  const titleLower = title.toLowerCase();\n  const descLower = description.toLowerCase();\n  if (titleLower.includes('critical') || descLower.includes('critical') ||\n      titleLower.includes('actively exploited') || descLower.includes('actively exploited') ||\n      titleLower.includes('zero-day') || titleLower.includes('emergency')) {\n    severity = 'High';\n  }\n\n  // Entity — try to extract vendor from title\n  let entity = 'CISA';\n  if (title.includes(':')) {\n    entity = title.split(':').slice(1).join(':').trim().split(' ')[0] || 'CISA';\n  } else {\n    entity = title.split(' ')[0] || 'CISA';\n  }\n\n  // Quality flags\n  const qualityFlags = [];\n  if (!title) qualityFlags.push('missing_title');\n  if (!date) qualityFlags.push('missing_date');\n  if (!link) qualityFlags.push('missing_url');\n\n  normalized.push({\n    json: {\n      record_id: `RSS-CISA-${String(index).padStart(4, '0')}`,\n      source: 'rss_cisa',\n      source_type: 'live_advisory',\n      collected_at: collectedAt,\n      date: date,\n      entity: entity,\n      category: 'cisa',\n      severity: severity,\n      description: description,\n      raw_url: link,\n      quality_flags: qualityFlags,\n      details: {\n        title: title,\n        feed: 'cisa',\n        original_pub_date: dateRaw,\n        creator: raw.creator || raw.author || 'CISA',\n        categories: raw.categories || []\n      }\n    }\n  });\n});\n\nreturn normalized;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        304
      ],
      "id": "5aec809e-3d93-4fc1-84d4-76fc75fc8897",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        368,
        304
      ],
      "id": "91f9e69f-3e4d-4f23-8c5c-c9fcdef9ef82",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\Users\\Hammad\\.n8n-files\\cisa_normalized.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        592,
        304
      ],
      "id": "3da5105d-0917-475d-91f4-83cdb1d2d099",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "url": "https://www.kaggle.com/api/v1/datasets/list",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "cybersecurity"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "pagesize",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -64,
        -288
      ],
      "id": "33899d11-aee9-437e-8fb3-77f9837f831f",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "30oNcXClIY2n5ecg",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Schema normalization for Source 2: Kaggle dataset catalog (via Kaggle API)\n// Each Kaggle dataset record becomes one record in the unified schema\n\nconst allItems = $input.all();\nconst normalized = [];\nconst collectedAt = new Date().toISOString();\n\nallItems.forEach((item, index) => {\n  const raw = item.json;\n\n  // Handle Kaggle's \"Nullable\" suffix on field names — strip it\n  // Most fields come as titleNullable, subtitleNullable, etc.\n  const title = String(raw.titleNullable || raw.title || '').trim();\n  const subtitle = String(raw.subtitleNullable || raw.subtitle || '').trim();\n  const creatorName = String(raw.creatorNameNullable || raw.creatorName || '').trim();\n  const ownerName = String(raw.ownerNameNullable || raw.ownerName || '').trim();\n  const ownerRef = String(raw.ownerRefNullable || raw.ownerRef || '').trim();\n  const url = String(raw.urlNullable || raw.url || '').trim();\n  const licenseName = String(raw.licenseNameNullable || raw.licenseName || '').trim();\n  const ref = String(raw.ref || '').trim();\n  const totalBytes = raw.totalBytesNullable || raw.totalBytes || 0;\n  const usabilityRating = raw.usabilityRatingNullable || raw.usabilityRating || 0;\n\n  // Entity = the dataset creator/owner\n  const entity = creatorName || ownerName || 'Unknown';\n\n  // Date: Kaggle returns lastUpdated as ISO timestamp\n  const dateRaw = raw.lastUpdatedNullable || raw.lastUpdated || '';\n  let date = '';\n  try {\n    if (dateRaw) {\n      const d = new Date(dateRaw);\n      if (!isNaN(d.getTime())) {\n        date = d.toISOString().split('T')[0]; // YYYY-MM-DD\n      }\n    }\n  } catch (e) {\n    date = '';\n  }\n\n  // Severity: derived from usability rating (Kaggle's 0-1 dataset quality score)\n  // Higher usability = higher confidence = used as proxy for \"reference value\"\n  let severity = 'N/A';\n  if (usabilityRating >= 0.9) severity = 'High';\n  else if (usabilityRating >= 0.7) severity = 'Medium';\n  else if (usabilityRating > 0) severity = 'Low';\n\n  // Description: combine subtitle with metadata\n  let description = subtitle;\n  if (!description) {\n    description = `Kaggle dataset by ${entity} (${ref})`;\n  }\n  if (description.length > 500) {\n    description = description.slice(0, 500) + '...';\n  }\n\n  // Quality flags\n  const qualityFlags = [];\n  if (!title) qualityFlags.push('missing_title');\n  if (!date) qualityFlags.push('missing_date');\n  if (!url) qualityFlags.push('missing_url');\n  if (!subtitle) qualityFlags.push('missing_description');\n  if (severity === 'N/A') qualityFlags.push('missing_severity');\n\n  normalized.push({\n    json: {\n      record_id: `KAGGLE-${String(index).padStart(4, '0')}`,\n      source: 'kaggle_api',\n      source_type: 'control_catalog',\n      collected_at: collectedAt,\n      date: date,\n      entity: entity,\n      category: 'cybersecurity_dataset',\n      severity: severity,\n      description: description,\n      raw_url: url,\n      quality_flags: qualityFlags,\n      details: {\n        dataset_title: title,\n        subtitle: subtitle,\n        creator: creatorName,\n        owner: ownerName,\n        owner_ref: ownerRef,\n        kaggle_ref: ref,\n        license: licenseName,\n        total_bytes: totalBytes,\n        usability_rating: usabilityRating,\n        original_last_updated: dateRaw\n      }\n    }\n  });\n});\n\nreturn normalized;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -272
      ],
      "id": "e987b4af-8763-4686-8bb7-e83d7c5424a1",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        352,
        -288
      ],
      "id": "89aacb95-d8fb-47b8-9e19-cf9bb9e1f6ed",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\Users\\Hammad\\.n8n-files\\controls_normalized.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        560,
        -288
      ],
      "id": "8c8f1232-c862-4309-a0bd-99fa2f4d4e68",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1296,
        -16
      ],
      "id": "3edb0eb8-c97f-4c3e-b90d-c23e5ffb7fe0",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Dedupe and finalize the merged dataset\n// Composite key: (source + entity + date) — catches re-runs and overlapping records\n\nconst allItems = $input.all();\nconst seen = new Set();\nconst deduped = [];\nlet duplicateCount = 0;\n\nallItems.forEach((item) => {\n  const r = item.json;\n\n  // Build composite key — handle missing fields gracefully\n  const key = [\n    String(r.source || 'unknown'),\n    String(r.entity || 'unknown'),\n    String(r.date || 'unknown'),\n    String(r.record_id || '')  // record_id makes the key truly unique within a source\n  ].join('||').toLowerCase();\n\n  if (seen.has(key)) {\n    duplicateCount++;\n    return; // skip duplicate\n  }\n  seen.add(key);\n  deduped.push({ json: r });\n});\n\n// Log dedupe stats for visibility\nconsole.log(`Dedupe: ${allItems.length} input → ${deduped.length} unique (${duplicateCount} duplicates removed)`);\n\nreturn deduped;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        0
      ],
      "id": "5635508b-6976-44b0-b7ea-b9ba7abd1bf7",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "// Tag each record as 'clean' or 'rejects' based on quality flags\n// We'll split into two outputs using an IF node downstream\n\nconst allItems = $input.all();\nconst result = [];\n\nallItems.forEach((item) => {\n  const r = item.json;\n  const flags = Array.isArray(r.quality_flags) ? r.quality_flags : [];\n\n  // Add a branch tag — clean if no flags, rejects if any flags\n  r._branch = flags.length === 0 ? 'clean' : 'rejects';\n\n  result.push({ json: r });\n});\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        0
      ],
      "id": "30edbd44-e040-47e6-a4f8-5b1838626005",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3e00c292-b70e-4bfc-ba3f-137a0df5e22f",
              "leftValue": "={{ $json._branch }}",
              "rightValue": "clean",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1936,
        0
      ],
      "id": "f682ff70-ffbc-4e41-8d69-3ce87012d087",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2144,
        -96
      ],
      "id": "1ff80adf-a6ff-4bd6-b581-9e5c332bf450",
      "name": "Convert to File3"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\Users\\Hammad\\.n8n-files\\a3_data_clean.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2352,
        -96
      ],
      "id": "b09a0ca2-e473-402b-9873-d474c757b749",
      "name": "Read/Write Files from Disk4"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2144,
        96
      ],
      "id": "3df501a8-8b34-47cb-83f0-1d855213a8f9",
      "name": "Convert to File4"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\Users\\Hammad\\.n8n-files\\a3_data_rejects.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2352,
        96
      ],
      "id": "6af62ea1-e40b-40ca-81cc-d1c6d9efebeb",
      "name": "Read/Write Files from Disk5"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "CISA RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CISA RSS Read": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File4": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "965a3228-3f92-4c4e-a960-529ac0ecee03",
  "meta": {
    "instanceId": "19981166a8efa96eba1ed4c35b33e0de23c37ec7b32c00b23e4e4deefefbca65"
  },
  "id": "fsGAoYxtybi1QYAl",
  "tags": []
}