pantry/singhvaibhav_351998_41799855_Singh_Vaibhav_A3_workflow.json
{
  "name": "Singh_Vaibhav_A3 — Intelligence Agent Data Collection",
  "nodes": [
    {
      "parameters": {},
      "id": "9bc68bd7-c0ec-4547-9324-8c99123a36c1",
      "name": "Run Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        944
      ]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "id": "2d0d2f55-6e95-4ab4-9920-5fdff367e028",
      "name": "RSS — TechCrunch",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        480,
        496
      ]
    },
    {
      "parameters": {
        "url": "https://feeds.arstechnica.com/arstechnica/index",
        "options": {}
      },
      "id": "c02a2625-165a-41a4-812c-183d80c9e002",
      "name": "RSS — Ars Technica",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        480,
        688
      ]
    },
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {}
      },
      "id": "c1126cbf-0a1c-4f65-91a5-05659f276700",
      "name": "RSS — The Verge",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        480,
        864
      ]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=brand+reputation+OR+brand+monitoring+OR+brand+voice+AI&hl=en-US&gl=US&ceid=US:en",
        "options": {}
      },
      "id": "1e8c3d18-363a-42e3-adef-412099ea6eca",
      "name": "RSS — Google News (Brand)",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        480,
        1040
      ]
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "brand reputation OR brand monitoring OR brand voice AI"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            },
            {
              "name": "pageSize",
              "value": "80"
            },
            {
              "name": "apiKey",
              "value": "e4db6a5614b34c5386257da81e057a5c"
            }
          ]
        },
        "options": {}
      },
      "id": "421101b2-520b-49e9-ae9c-ed2f1ea89cb5",
      "name": "HTTP — NewsAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        1216
      ]
    },
    {
      "parameters": {
        "url": "https://datasets-server.huggingface.co/rows?dataset=SetFit%2F20_newsgroups&config=default&split=train&offset=0&length=80",
        "options": {}
      },
      "id": "2200fe18-2a96-4819-95f5-79cbb97ec3be",
      "name": "HTTP — HuggingFace",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "const items=$input.all();const results=[];for(const item of items){const d=item.json;const title=(d.title||'').trim();const link=d.link||d.guid||'';const pubDate=d.pubDate||d.isoDate||d.date||d.updated||'';const content=(d['content:encoded']||d.contentSnippet||d.content||d.description||'').replace(/<[^>]*>/g,'').trim();let pd='';try{const dt=new Date(pubDate);if(!isNaN(dt))pd=dt.toISOString().split('T')[0]}catch(e){}if(!title||!pd)continue;const tl=title.toLowerCase();let tp='technology';if(/\\b(ai|llm|gpt|machine learning|neural|model|agent|openai|anthropic)\\b/.test(tl))tp='ai_ml';else if(/\\b(brand|marketing|advertis|campaign|reputation)\\b/.test(tl))tp='brand_marketing';else if(/\\b(security|hack|breach|cyber|threat)\\b/.test(tl))tp='security';else if(/\\b(startup|funding|venture|valuation|ipo)\\b/.test(tl))tp='business';else if(/\\b(apple|google|microsoft|meta|amazon|nvidia)\\b/.test(tl))tp='big_tech';results.push({json:{id:`rss-tc-${results.length+1}`,title:title.substring(0,150),source_name:'TechCrunch',source_url:link,published_date:pd,topic_category:tp,content_snippet:(content||title).substring(0,200),reliability_score:4,collection_method:'rss_feed'}})}return results;"
      },
      "id": "9b065b5f-790b-4daf-8921-5e86ebbd5e8d",
      "name": "Norm TechCrunch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "const items=$input.all();const results=[];for(const item of items){const d=item.json;const title=(d.title||'').trim();const link=d.link||d.guid||'';const pubDate=d.pubDate||d.isoDate||d.date||d.updated||'';const content=(d['content:encoded']||d.contentSnippet||d.content||d.description||'').replace(/<[^>]*>/g,'').trim();let pd='';try{const dt=new Date(pubDate);if(!isNaN(dt))pd=dt.toISOString().split('T')[0]}catch(e){}if(!title||!pd)continue;const tl=title.toLowerCase();let tp='technology';if(/\\b(ai|llm|gpt|machine learning|neural|model|agent|openai|anthropic)\\b/.test(tl))tp='ai_ml';else if(/\\b(brand|marketing|advertis|campaign|reputation)\\b/.test(tl))tp='brand_marketing';else if(/\\b(security|hack|breach|cyber|threat)\\b/.test(tl))tp='security';else if(/\\b(startup|funding|venture|valuation|ipo)\\b/.test(tl))tp='business';else if(/\\b(apple|google|microsoft|meta|amazon|nvidia)\\b/.test(tl))tp='big_tech';results.push({json:{id:`rss-ars-${results.length+1}`,title:title.substring(0,150),source_name:'Ars Technica',source_url:link,published_date:pd,topic_category:tp,content_snippet:(content||title).substring(0,200),reliability_score:4,collection_method:'rss_feed'}})}return results;"
      },
      "id": "659fdf3e-e141-42e2-a2ee-30bc4f0afaa9",
      "name": "Norm Ars Technica",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "const items=$input.all();const results=[];for(const item of items){const d=item.json;const title=(d.title||'').trim();const link=d.link||d.guid||'';const pubDate=d.pubDate||d.isoDate||d.date||d.updated||'';const content=(d['content:encoded']||d.contentSnippet||d.content||d.description||'').replace(/<[^>]*>/g,'').trim();let pd='';try{const dt=new Date(pubDate);if(!isNaN(dt))pd=dt.toISOString().split('T')[0]}catch(e){}if(!title||!pd)continue;const tl=title.toLowerCase();let tp='technology';if(/\\b(ai|llm|gpt|machine learning|neural|model|agent|openai|anthropic)\\b/.test(tl))tp='ai_ml';else if(/\\b(brand|marketing|advertis|campaign|reputation)\\b/.test(tl))tp='brand_marketing';else if(/\\b(security|hack|breach|cyber|threat)\\b/.test(tl))tp='security';else if(/\\b(startup|funding|venture|valuation|ipo)\\b/.test(tl))tp='business';else if(/\\b(apple|google|microsoft|meta|amazon|nvidia)\\b/.test(tl))tp='big_tech';results.push({json:{id:`rss-vg-${results.length+1}`,title:title.substring(0,150),source_name:'The Verge',source_url:link,published_date:pd,topic_category:tp,content_snippet:(content||title).substring(0,200),reliability_score:4,collection_method:'rss_feed'}})}return results;"
      },
      "id": "8b1261a1-023c-4390-9676-52417c686d56",
      "name": "Norm The Verge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        864
      ]
    },
    {
      "parameters": {
        "jsCode": "const items=$input.all();const results=[];for(const item of items){const d=item.json;let title=(d.title||'').trim();const link=d.link||d.guid||'';const pubDate=d.pubDate||d.isoDate||d.date||d.updated||'';let pd='';try{const dt=new Date(pubDate);if(!isNaN(dt))pd=dt.toISOString().split('T')[0]}catch(e){}if(!title||!pd)continue;let sn='Google News';const parts=title.split(' - ');if(parts.length>1){sn=parts.pop().trim();title=parts.join(' - ').trim()}let rs=3;const sl=sn.toLowerCase();if(['reuters','associated press','bbc','bloomberg'].some(k=>sl.includes(k)))rs=5;else if(['techcrunch','wired','verge','cnn','cnbc','forbes'].some(k=>sl.includes(k)))rs=4;const tl=title.toLowerCase();let tp='brand_marketing';if(/\\b(ai|llm|gpt|machine learning|neural|model|agent)\\b/.test(tl))tp='ai_ml';else if(/\\b(security|hack|breach|cyber|threat)\\b/.test(tl))tp='security';else if(/\\b(startup|funding|venture|valuation|ipo)\\b/.test(tl))tp='business';results.push({json:{id:`gnews-${results.length+1}`,title:title.substring(0,150),source_name:sn,source_url:link,published_date:pd,topic_category:tp,content_snippet:title.substring(0,200),reliability_score:rs,collection_method:'google_news_rss'}})}return results;"
      },
      "id": "51943636-106a-4c54-81a5-ce4c9e2d0d65",
      "name": "Norm Google News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        1040
      ]
    },
    {
      "parameters": {
        "jsCode": "const input=$input.first().json;const articles=input.articles||[];const results=[];for(const a of articles){const title=(a.title||'').trim();if(!title||title==='[Removed]')continue;let pd='';try{const d=new Date(a.publishedAt);if(!isNaN(d))pd=d.toISOString().split('T')[0]}catch(e){}if(!pd)continue;const sn=a.source?.name||'NewsAPI';const content=(a.description||a.content||'').replace(/<[^>]*>/g,'').trim();let rs=3;const sl=sn.toLowerCase();if(['reuters','associated press','bbc','bloomberg'].some(k=>sl.includes(k)))rs=5;else if(['techcrunch','wired','verge','ars technica','cnn','cnbc'].some(k=>sl.includes(k)))rs=4;const tl=title.toLowerCase();let tp='brand_marketing';if(/\\b(ai|llm|gpt|machine learning|neural|model|agent)\\b/.test(tl))tp='ai_ml';else if(/\\b(security|hack|breach|cyber|threat)\\b/.test(tl))tp='security';else if(/\\b(startup|funding|venture|valuation|ipo)\\b/.test(tl))tp='business';results.push({json:{id:`newsapi-${results.length+1}`,title:title.substring(0,150),source_name:sn,source_url:a.url||'',published_date:pd,topic_category:tp,content_snippet:(content||title).substring(0,200),reliability_score:rs,collection_method:'newsapi'}})}return results;"
      },
      "id": "e55cfa20-91ce-4d14-b463-a7b275f542b2",
      "name": "Norm NewsAPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        1216
      ]
    },
    {
      "parameters": {
        "jsCode": "const input=$input.first().json;const rows=input.rows||[];const results=[];const catMap={'comp.graphics':'technology','comp.os.ms-windows.misc':'technology','comp.sys.ibm.pc.hardware':'technology','comp.sys.mac.hardware':'technology','comp.windows.x':'technology','misc.forsale':'business','sci.crypt':'security','sci.electronics':'technology','sci.space':'technology'};for(const row of rows){const r=row.row||row;const text=r.text||'';const label=r.label_text||r.label||'';const topic=catMap[label];if(!topic)continue;const lines=text.split('\\n').filter(l=>l.trim().length>15);const title=(lines[0]||text.substring(0,100)).trim().substring(0,120);results.push({json:{id:`hf-${results.length+1}`,title,source_name:'20_newsgroups (HuggingFace)',source_url:'https://huggingface.co/datasets/SetFit/20_newsgroups',published_date:new Date().toISOString().split('T')[0],topic_category:topic,content_snippet:text.replace(/\\n/g,' ').trim().substring(0,200),reliability_score:3,collection_method:'huggingface_dataset'}});if(results.length>=60)break}return results;"
      },
      "id": "2b5783b3-f4c5-4ee1-bb29-fa676628d786",
      "name": "Norm HuggingFace",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        1408
      ]
    },
    {
      "parameters": {},
      "id": "982adc06-4f4b-4836-84e8-76f7c8ae9549",
      "name": "Merge TC+Ars",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        960,
        592
      ]
    },
    {
      "parameters": {},
      "id": "a8843126-b59a-4f16-859f-f38001ff4c9f",
      "name": "Merge +Verge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1168,
        720
      ]
    },
    {
      "parameters": {},
      "id": "32184579-c3e6-4275-9f24-3dd1576a6ea7",
      "name": "Merge +GNews",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1360,
        848
      ]
    },
    {
      "parameters": {},
      "id": "079d1062-7340-4315-be98-b0a472937e29",
      "name": "Merge +NewsAPI",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1568,
        976
      ]
    },
    {
      "parameters": {},
      "id": "1f5c57e4-e90a-440a-b350-180157a15fb2",
      "name": "Merge +HF",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1760,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "const items=$input.all();const seen=new Set();const clean=[];let dupes=0,invalid=0;for(const item of items){const d=item.json;if(!d.title||!d.published_date||!d.source_name){invalid++;continue}if(!/^\\d{4}-\\d{2}-\\d{2}$/.test(d.published_date)){invalid++;continue}const key=d.title.toLowerCase().replace(/[^a-z0-9]/g,'').substring(0,60);if(seen.has(key)){dupes++;continue}seen.add(key);if(!d.content_snippet||d.content_snippet.length<10)d.content_snippet=d.title;clean.push({json:d})}return clean;"
      },
      "id": "af3d924b-64b3-4f15-a3f8-8fdb55d7fcee",
      "name": "Deduplicate & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        1120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "59d18231-5272-43aa-b5b3-9c24960f95a4",
      "name": "Convert to CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2192,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/Users/vaibhavsingh/NEU/Summer Semester/Branding & AI/Assignments/Assignment 3/data.csv",
        "options": {}
      },
      "id": "c4a12331-2d16-4b61-b28c-e06124308a64",
      "name": "Save CSV",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2384,
        1120
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Run Workflow": {
      "main": [
        [
          {
            "node": "RSS — TechCrunch",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS — Ars Technica",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS — The Verge",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS — Google News (Brand)",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP — NewsAPI",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP — HuggingFace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS — TechCrunch": {
      "main": [
        [
          {
            "node": "Norm TechCrunch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS — Ars Technica": {
      "main": [
        [
          {
            "node": "Norm Ars Technica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS — The Verge": {
      "main": [
        [
          {
            "node": "Norm The Verge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS — Google News (Brand)": {
      "main": [
        [
          {
            "node": "Norm Google News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — NewsAPI": {
      "main": [
        [
          {
            "node": "Norm NewsAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — HuggingFace": {
      "main": [
        [
          {
            "node": "Norm HuggingFace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Norm TechCrunch": {
      "main": [
        [
          {
            "node": "Merge TC+Ars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Norm Ars Technica": {
      "main": [
        [
          {
            "node": "Merge TC+Ars",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge TC+Ars": {
      "main": [
        [
          {
            "node": "Merge +Verge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Norm The Verge": {
      "main": [
        [
          {
            "node": "Merge +Verge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge +Verge": {
      "main": [
        [
          {
            "node": "Merge +GNews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Norm Google News": {
      "main": [
        [
          {
            "node": "Merge +GNews",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge +GNews": {
      "main": [
        [
          {
            "node": "Merge +NewsAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Norm NewsAPI": {
      "main": [
        [
          {
            "node": "Merge +NewsAPI",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge +NewsAPI": {
      "main": [
        [
          {
            "node": "Merge +HF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Norm HuggingFace": {
      "main": [
        [
          {
            "node": "Merge +HF",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge +HF": {
      "main": [
        [
          {
            "node": "Deduplicate & Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate & Validate": {
      "main": [
        [
          {
            "node": "Convert to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to CSV": {
      "main": [
        [
          {
            "node": "Save CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6dbe60ad-bdc6-496a-be04-40d6f2d56a73",
  "meta": {
    "instanceId": "21752508acfbced1d500507bdd0ee4ed4f05f0e2f1214ee1730849ad53935e11"
  },
  "id": "PMvta2H5tMPUldj9",
  "tags": []
}