pantry/singhkanishknagendra_348738_41749683_Singh_Kanishk_A3_Workflow.json
{
  "name": "Accessibility Monitor — Data Collection Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "node-1-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Node 2 — Fetch axe-core rules from GitHub\n// Step A: list rule files via GitHub contents API (1 call, well under 60/hr)\n// Step B: fetch each rule's JSON from raw.githubusercontent.com (no rate limit on raw content)\n// Step C: emit normalized items matching the merge node's expected shape\n\nconst AXE_VERSION = '4.10';\n\nconst listing = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'https://api.github.com/repos/dequelabs/axe-core/contents/lib/rules',\n  headers: {\n    'Accept': 'application/vnd.github.v3+json',\n    'User-Agent': 'n8n-accessibility-monitor'\n  },\n  json: true,\n});\n\nconst ruleFiles = (Array.isArray(listing) ? listing : [])\n  .filter(f => f.type === 'file' && f.name.endsWith('.json'));\n\n// Fetch rule contents in parallel batches to keep memory bounded\nconst CONCURRENCY = 12;\nconst out = [];\nfor (let i = 0; i < ruleFiles.length; i += CONCURRENCY) {\n  const batch = ruleFiles.slice(i, i + CONCURRENCY);\n  const fetched = await Promise.all(batch.map(async (f) => {\n    try {\n      const rule = await this.helpers.httpRequest({\n        method: 'GET',\n        url: f.download_url,\n        json: true,\n      });\n      const meta = rule.metadata || {};\n      const id = rule.id || f.name.replace(/\\.json$/, '');\n      return {\n        id,\n        description: meta.description || '',\n        help: meta.help || '',\n        helpUrl: `https://dequeuniversity.com/rules/axe/${AXE_VERSION}/${id}`,\n        tags: rule.tags || [],\n      };\n    } catch (e) {\n      return null;\n    }\n  }));\n  out.push(...fetched.filter(x => x));\n}\n\nreturn out.map(r => ({ json: r }));\n"
      },
      "id": "node-2-github",
      "name": "GitHub API — Axe-core Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueRegularOutput",
      "position": [320, 180],
      "notes": "Source 1: Lists axe-core rule files via GitHub contents API (1 call), then fetches each rule's JSON from raw.githubusercontent.com (no rate limit) in parallel batches. Emits normalized items with id, description, help, helpUrl, tags. helpUrl is synthesized from the rule id since axe-core rule JSON does not include it directly."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.w3.org/WAI/WCAG21/wcag.json",
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "node-3-wcag",
      "name": "W3C WCAG JSON — Success Criteria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "onError": "continueRegularOutput",
      "position": [320, 300],
      "notes": "Source 2: W3C official WCAG 2.1 guidelines as structured JSON from the W3C GitHub repository. Static file — extremely reliable. Returns all 78 success criteria with SC number, title, level, and description."
    },
    {
      "parameters": {
        "url": "https://webaim.org/blog/feed/",
        "options": {}
      },
      "id": "node-4a-webaim-rss",
      "name": "RSS — WebAIM Blog",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [320, 420],
      "notes": "Source 3a: WebAIM Blog RSS feed. WebAIM is the leading web accessibility research organization. Feed returns article titles, dates, URLs, and summaries. No auth required."
    },
    {
      "parameters": {
        "url": "https://www.a11yproject.com/feed/feed.xml",
        "options": {}
      },
      "id": "node-4b-a11y-rss",
      "name": "RSS — A11y Project",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [320, 520],
      "notes": "Source 3b: The A11y Project RSS feed. Practitioner-focused accessibility community. Parallel to WebAIM — if one feed is down, the other continues independently."
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Node 5 — Merge all sources, normalize to canonical schema, deduplicate, validate\n\nconst axeItems  = $('GitHub API — Axe-core Rules').all();\nconst wcagItems = $('W3C WCAG JSON — Success Criteria').all();\nconst rss1Items = $('RSS — WebAIM Blog').all();\nconst rss2Items = $('RSS — A11y Project').all();\n\nconst today = new Date().toISOString().split('T')[0]; // YYYY-MM-DD\n\n// Normalize axe-core rules\nconst axeRecords = axeItems.map(item => {\n  const d = item.json;\n  return {\n    record_id: `axe_${d.id || d.name || 'unknown'}`,\n    source: 'axe-core',\n    type: 'rule',\n    rule_id: d.id || d.name || '',\n    wcag_criterion: (d.tags || []).find(t => /wcag\\d{3}/.test(t))?.replace('wcag', '').replace(/(\\d)(\\d{2})/, '$1.$2') || '',\n    conformance_level: (d.tags || []).includes('wcag2aa') || (d.tags || []).includes('wcag21aa') ? 'AA' : (d.tags || []).includes('wcag2a') ? 'A' : '',\n    title: d.description || d.help || '',\n    description: d.description || '',\n    help_url: d.helpUrl || '',\n    tags: (d.tags || []).join(', '),\n    url: d.helpUrl || '',\n    published_date: '',\n    collected_at: today,\n    quality: (d.description && d.id) ? 'complete' : 'incomplete'\n  };\n});\n\n// Normalize WCAG success criteria\nconst wcagRecords = wcagItems.flatMap(item => {\n  const data = item.json;\n  // Handle both array and nested object formats from W3C JSON\n  const criteria = Array.isArray(data) ? data : \n    (data.principles || []).flatMap(p => \n      (p.guidelines || []).flatMap(g => g.successcriteria || [])\n    );\n  return criteria.map(sc => ({\n    record_id: `wcag_${sc.num || sc.id || 'unknown'}`,\n    source: 'w3c-wcag',\n    type: 'success_criterion',\n    rule_id: '',\n    wcag_criterion: sc.num || sc.id || '',\n    conformance_level: sc.level || '',\n    title: sc.handle || sc.title || '',\n    description: sc.content || sc.description || '',\n    help_url: sc.understanding || '',\n    tags: `wcag21, level${(sc.level||'').toLowerCase()}`,\n    url: sc.understanding || '',\n    published_date: '',\n    collected_at: today,\n    quality: (sc.handle && sc.num) ? 'complete' : 'incomplete'\n  }));\n});\n\n// Normalize RSS articles\nconst normalizeDate = (raw) => {\n  if (!raw) return '';\n  try {\n    return new Date(raw).toISOString().split('T')[0];\n  } catch { return ''; }\n};\n\nconst rssRecords = [...rss1Items, ...rss2Items].map(item => {\n  const d = item.json;\n  const source = rss1Items.includes(item) ? 'webaim-blog' : 'a11y-project';\n  const dateStr = normalizeDate(d.pubDate || d.date || d.isoDate || '');\n  const dateKey = dateStr.replace(/-/g, '');\n  return {\n    record_id: `rss_${source}_${dateKey}_${(d.title||'').slice(0,20).replace(/\\s+/g,'_').toLowerCase()}`,\n    source,\n    type: 'article',\n    rule_id: '',\n    wcag_criterion: '',\n    conformance_level: '',\n    title: d.title || '',\n    description: d.contentSnippet || d.content || d.summary || '',\n    help_url: '',\n    tags: 'accessibility, industry-news',\n    url: d.link || d.url || '',\n    published_date: dateStr,\n    collected_at: today,\n    quality: (d.title && dateStr) ? 'complete' : 'incomplete'\n  };\n});\n\n// Merge all records\nconst allRecords = [...axeRecords, ...wcagRecords, ...rssRecords];\n\n// Deduplicate by record_id\nconst seen = new Set();\nconst unique = allRecords.filter(r => {\n  if (seen.has(r.record_id)) return false;\n  seen.add(r.record_id);\n  return true;\n});\n\n// Return as n8n items\nreturn unique.map(r => ({ json: r }));\n"
      },
      "id": "node-5-merge",
      "name": "Merge + Normalize + Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, 300],
      "notes": "Excellence node: Merges all 3 sources into canonical schema. Normalizes dates to YYYY-MM-DD. Deduplicates by record_id. Validates completeness — flags incomplete records rather than dropping them."
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $items().length }}",
              "operation": "largerEqual",
              "value2": 50
            }
          ]
        }
      },
      "id": "node-6-if",
      "name": "Quality Gate — Min 50 Records",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [800, 300],
      "notes": "Excellence node: Guards against bad runs overwriting good data. If fewer than 50 records collected (meaning multiple sources failed), routes to error log instead of saving. Protects the existing clean CSV."
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "options": {},
        "fileName": "={{ 'accessibility_data_' + $now.format('yyyy-MM-dd') + '.csv' }}"
      },
      "id": "node-7-save",
      "name": "Save to CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [1020, 220],
      "notes": "Saves merged, cleaned data as CSV. Filename includes date stamp (accessibility_data_YYYY-MM-DD.csv) so previous runs are preserved. Also writes accessibility_data_latest.csv via a secondary Write File node."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "error_message",
              "value": "={{ 'Pipeline error at ' + $now.toISO() + ' — only ' + $items().length + ' records collected. Check source availability and re-run.' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "node-8-error-log",
      "name": "Write Error Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1020, 420],
      "notes": "Runs when fewer than 50 records were collected. Writes error details to pipeline_error_log.txt. Does NOT overwrite the existing clean CSV — protects good data."
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[
        { "node": "GitHub API — Axe-core Rules", "type": "main", "index": 0 },
        { "node": "W3C WCAG JSON — Success Criteria", "type": "main", "index": 0 },
        { "node": "RSS — WebAIM Blog", "type": "main", "index": 0 },
        { "node": "RSS — A11y Project", "type": "main", "index": 0 }
      ]]
    },
    "GitHub API — Axe-core Rules": {
      "main": [[{ "node": "Merge + Normalize + Deduplicate", "type": "main", "index": 0 }]]
    },
    "W3C WCAG JSON — Success Criteria": {
      "main": [[{ "node": "Merge + Normalize + Deduplicate", "type": "main", "index": 1 }]]
    },
    "RSS — WebAIM Blog": {
      "main": [[{ "node": "Merge + Normalize + Deduplicate", "type": "main", "index": 2 }]]
    },
    "RSS — A11y Project": {
      "main": [[{ "node": "Merge + Normalize + Deduplicate", "type": "main", "index": 3 }]]
    },
    "Merge + Normalize + Deduplicate": {
      "main": [[{ "node": "Quality Gate — Min 50 Records", "type": "main", "index": 0 }]]
    },
    "Quality Gate — Min 50 Records": {
      "main": [
        [{ "node": "Save to CSV", "type": "main", "index": 0 }],
        [{ "node": "Write Error Log", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "accessibility-monitor-pipeline"
  },
  "tags": ["accessibility", "wcag", "data-collection", "assignment-3"]
}
