pantry/zuxinchen_405407_41801846_Zu_Xinchen_A3_Workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "02143695-7912-480b-99aa-33618eaba9c9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://blog.hubspot.com/marketing/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "cf0d9c60-345b-4e84-916c-c4259efa8ca0",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://sproutsocial.com/insights/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        144,
        144
      ],
      "id": "0d0f2791-7271-4ae5-a098-66f81a53bed3",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "url": "https://blog.hootsuite.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        352,
        144
      ],
      "id": "9bd41450-1569-46b6-9a70-73780f6f8ffe",
      "name": "RSS Read2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        0
      ],
      "id": "6fad9937-77f1-4a9c-ada3-0126c8b99fad",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        0
      ],
      "id": "81779fe1-bf65-41f4-9b1e-f0b8f0386cc3",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b7b8818-e75b-4bf0-941a-1b77def060ac",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "d216325c-d98a-4649-a30b-66207b60c072",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "b6c81f6c-7bad-45ad-bf1f-a87a3a50f250",
              "name": "author",
              "value": "={{ $json.author }}",
              "type": "string"
            },
            {
              "id": "502775fa-3ae8-49b6-ad6e-8b41a8274225",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "ddabffd8-f8c2-494d-889e-cb6f97c02d32",
              "name": "source",
              "value": "={{ $json.link.includes('hubspot') ? 'HubSpot' : $json.link.includes('sproutsocial') ? 'Sprout Social' : $json.link.includes('hootsuite') ? 'Hootsuite' : 'Unknown' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        0
      ],
      "id": "b3b6190a-648a-4d5b-ac5c-a90af96ddd78",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1632,
        0
      ],
      "id": "f7b8be8e-baa6-4282-b850-71e68d7f9bed",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "url": "https://www.socialmediaexaminer.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        560,
        144
      ],
      "id": "84b1b0e1-2119-4217-8626-aafbe4006559",
      "name": "RSS Read3"
    },
    {
      "parameters": {
        "url": "https://www.searchenginejournal.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        736,
        144
      ],
      "id": "0df46f13-ad9f-4c6f-898b-e45c6ad2ab8a",
      "name": "RSS Read4"
    },
    {
      "parameters": {
        "url": "https://www.searchenginejournal.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        928,
        144
      ],
      "id": "a9380b19-3359-4bf2-a5c7-30de60d0070e",
      "name": "RSS Read5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        0
      ],
      "id": "414a6d50-a43b-4012-9893-a368d1ef19c5",
      "name": "Merge2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        0
      ],
      "id": "ca5ccb72-875e-4d07-a9be-d0dfc24ef0d7",
      "name": "Merge3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1248,
        0
      ],
      "id": "49cc9331-7f0e-4854-bac7-1b1140eb2335",
      "name": "Merge4"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read3",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read4",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read5": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "98a410a7-8b78-4658-ad5d-906f1a66ea8b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "677b01277bccbc3122f6bb996cb240a18a5abd61018e3e902d10816bd9e8ae30"
  },
  "id": "zX4rOi2RXiqEmQU3",
  "tags": []
}